header {
    display: flex;
    margin: 92px 24px 0 24px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
.header__menu {
    display: flex;
}
.header__logo {
    display: flex;
    width: 148px;
    height: 105px;
    padding-left: 40px;
    margin-right: 225px;
}
.header__links-list {
    display: flex;
    list-style: circle;
    padding-top: 44px;
    padding-left: 26px;
    column-gap: 33.5px; 
    text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
    list-style: none;
} 
.header__link_active {
    text-decoration: none;
      color: #000;
    }
.header__links-list-item {
    text-decoration: none;
}
.header__link {
    text-decoration: underline;
    color: #000;
}
.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    padding-top: 5px;
    text-underline-offset: 4px;
}
.address__list {
    list-style: none;
}
.header__address {
    text-decoration: none;
    margin-top: 2px;
    line-height: 24px;
}
.address__contacts {
    text-decoration: underline;
    color: #000;
    line-height: 24.3px;
}
.cover {
    display: inline-block;
    min-height: 757px;
    width: 1100px;
    background: no-repeat center/cover;
    background-image: url("../images/cover.jpg");
    margin: 96px 0 160px 0;
    position: relative;
}
.cover__title {
    font-size: 100px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 165px 50px 136px 50px;
    letter-spacing: 30px;
}
.overlay {
    position: absolute;
    display: flex;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    inset: 1;
}
.aligned-text {
    text-align: start;
}
.aligned-text_center {
    text-align: center;
    line-height: 1;
    padding-top: 18px;
}
.aligned-text_right {
    text-align: end;
    line-height: 1;
    padding-top: 20px;
}
.let_spac_tree {
    letter-spacing: 30px;
}
.let_spac_six {
    letter-spacing: 60px;
}
.let_spac_null {
    letter-spacing: 0;
}
.cover__description {
    z-index: 1;
    font-size: 22px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cover__description-text {
    position: relative;
    word-spacing: 19px;
    padding-left: 77px;
}
.bet-button {
    background-color: transparent;
    display: block;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 12px 32px 11px 31px;
    margin-right: 50px; 
    min-height: 51px;
    text-align: center;
    word-spacing: normal;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: currentColor;
    z-index: 1;
}
.lots {
    margin: 0 24px 146px 24px;
    width: 1052px;
    display: flex;
    flex-direction: column;  
    list-style: none;
}
.lots__heading {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 25px;
}
.lots__card-list {
    display: flex;
    list-style: none;
    min-height: 563px;
    justify-content: space-between;
    width: 100%;
    column-gap: 25px;
}
.lots__card-list-item {
    flex-grow: 1;
    text-align: center;
    min-height: 100%;
    width: 334px;
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 563px;
} 
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}
.card__title {
    font-family: "Raleway", "Inter";
    font-size: 22px;
    line-height: 25.4px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    text-align: left;
    padding: 52px 40px 0 40px;
    z-index: 2;
    text-underline-offset: 3px;
}
.card__text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    padding: 0px 40px 48px 40px;
    position: absolute; 
    bottom: 0;
}
.lots__look-more-link {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
    padding-top: 30px;
    padding-left: 40px;
    text-underline-offset: 4px;
}    
.about {
    display: flex;
    margin: 0 24px 180px 24px;
}
.about__column {
    justify-content: space-between;
    width: 100%;
    display: block;
}
.about__logo {
    display: flex;
    background-color: #000;
    border-radius: 100%;
    height: 240px;
    width: 240px;  
    justify-content: space-around;
    margin-top: 38px;
    margin-left: 48px;
}
.about__logo-image {
    width: 60%;
    display: grid;
    place-items: center;
}
.about__title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.about__text {
    width: 693px;
    margin-top: 137px;
    margin-left: 72px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    letter-spacing: 1.2;
}
.about__text__bottom {
    margin-bottom: 24px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 68px 25px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #000;
}
.footer__menu {
    text-align: center;
    text-underline-offset: 3px;
    padding-right: 15px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__menu-link {
    text-decoration: underline;
}
.footer__menu-list {
    list-style: none;
    line-height: 23px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: 0.01em;
    line-height: 24.5px;
    text-underline-offset: 4px;
}
.footer__social-list {
    display: flex;
    text-align: end;
    list-style: none;
    column-gap: 47px;
    padding-right: 3px;
}
 .footer__social-icon {
    width: 48px;
    height: 48px;
} 